<%= render "/heading" %>
<h2>Mood List</h2>

<select>
		<% @moods.each do |mood| %>
			<option value="#{mood.name}"><%= mood.name %></option>
		<% end %>

	</ul>	
</select>
<br>
<br>
-------
<p>more functinoality</p>
<p>Add to Your List of Moods</p>


