
<table>
	<thead>
		<tr>
			<th>Phrase</th>
			<th>Mood</th>
		</tr>
	</thead>


<tbody>
	<tr>
		<th>What a great day</th>
		<th>happy</th>
	</tr>
	<tr>
		<th>Fun Dinner!</th>
		<th>fun</th>
	</tr>
</tbody>

</table>


