<!-- This is where I need to handle my iteration of phrase_array. -->
<%= render "/heading" %>

<table border=1 cellpadding=5>
	<caption>Sample Phrase and Mood Table </caption>
	<thead>
		<tr>
			<th>Sample Phrase</th>
			<th>Mood</th>
		</tr>
	</thead>



<%  %>


<tbody>
	<tr>
		<td>What a great day!!</td>
		<td>
			<select>
				<% @moods.each do |mood| %>
					<option value="#{mood.name}"><%= mood.name %></option>
				<% end %>
			</select>

		</td>

	</tr>
	<tr>
		<td>Fun Dinner!</td>
		<td>
			<select>	
				<% @moods.each do |mood| %>
					<option value="#{mood.name}"><%= mood.name %></option>
				<% end %>
			</select>
		</td>
	</tr>
</tbody>

</table>


