<!-- This is where I need to handle my iteration of phrase_array. -->
<%= render "/heading" %>

<table border=1 cellpadding=5>
	<caption>Sample Phrase and Mood Table </caption>
	<thead>
		<tr>
			<th>Sample Phrase</th>
			<th>Mood</th>
		</tr>
	</thead>

<tbody>
	<% @sample_phrases.each do |sample_phrase| %>
	<tr>
			<td><%= sample_phrase.phrase %></td>
		<td>
			<select>
				<% @moods.each do |mood| %>
					<option value="#{mood.name}"><%= mood.name %></option>
				<% end %>
			</select>
		</td>
	</tr>
	<% end %>

</tbody>

</table>


