index
<%= render '/heading' %>

<h3>Hello <%= current_user.name %> </h3>
<h4>This is your Phrase and Value Outcome page.</h4>

<!-- Call partial of sample_phrase table to render table -->
	<%= render partial: 'sample_phrase_table', collection: @sample_phrases, as: 'sample_phrase' %>
