<!-- This is where I need to handle my iteration of phrase_array. -->


<table border=1 cellpadding=5>
	<caption>Mood Table </caption>
	<thead>
		<tr>
			<th>Phrase</th>
			<th>Mood</th>
		</tr>
	</thead>


<tbody>
	<tr>
		<td>What a great day!!</td>
		<td>happy</td>
	</tr>
	<tr>
		<td>Fun Dinner!</td>
		<td>fun</td>
	</tr>
</tbody>

</table>


