/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

h1, ul, table {
	font-family: 'Cardo', serif;
	color: white;
}

h2, h3, h4, p, a, {
	font-family: 'Open Sans', 'sans-serif';
	color: white;
}

h1 {
	font-size: 2.5em;
}

h2 {
	color: white;
}

p, a {
	color: white;
}

button {
	font-size: 1.5em;
}

body {
	background-color: #7f674d;
	background: url("Stipula_fountain_pen.jpg") center repeat-y #7f674d; /* add a fallback color of #d6d6d6 */
	background-size: 1200px;
	min-height: 300px;
	font-family: 'Open Sans', 'sans-serif';
	text-align: center;
}

a:hover {
	color: red;
	font-weight: 700;
}

#caption {
  position: absolute;
  z-index: 2;
  bottom: 90px;
  width: 100%;
  color: #ffc;
  text-align: center;
	font-family: 'Cardo', serif;
  font-size: 24px;
  letter-spacing: .1em;
  display: none;
}

video {
	width:397px;
	height:300px;
	background: rgba(255,255,255,0.5);
	border:4px ridge #bc9959;

	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.entry {
	font-family: 'Cardo', serif;
	font-size: 36px;
	background: rgba(248, 231, 193, 0.88);
}

table.center {
    margin-left:auto;
    margin-right:auto;
  }

.carousel {
	color: white;
	text-align: justified;
	font-family: 'Open Sans', 'sans-serif';
	margin-right: 23%;
	margin-left: 23%;
	font-size: 1.3em;
}
