<h1>There and Back Again</h1>
<h2>a mood tracking journal adventure</h2>

<div class="carousel">
	<div>
	“People who keep journals have life twice.”<br>Jessamyn West
	</div>
	<div>
	“Each new day is a blank page in the diary of your life. The secret of success is in turning that diary into the best story you possibly can.”<br>  Douglas Pagels
	</div>
	<div>
	“Please read my diary, look through my things and figure me out.”<br>Kurt Cobain
	</div>
	<div>
	“I never travel without my diary. One should always have something sensational to read in the train.”<br>Oscar Wilde
	</div>
	<div>
	“How do we know that our life really happened and that we are not simply accumulating details, making it all up as we go along?”<br>Rachel Klein
	</div>
</div> <!-- carousel -->


<p>
	<a href="/session/new">Enter</a> your personal journal.
</p>
<p>
	<a href="/users/new">Sign up</a> to start writing your adventure.
</p>

<video autoplay></video>
<img src="">
<script>
	var video = document.querySelector('video');
	var canvas = document.querySelector('canvas');
	var ctx = canvas.getContext('2d');
	var localMediaStream = null;

	function snapshot() {
		if (localMediaStream) {
			ctx.drawImage(video, 0, 0);
			// "image/webp" works in Chrome.
			// Other browsers will fall back to image/png.
			document.querySelector('img').src = canvas.toDataURL('image/webp');
		}
	}

	video.addEventListener('click', snapshot, false);

	// Not showing vendor prefixes or code that works cross-browser.
	navigator.getUserMedia({video: true}, function(stream) {
		video.src = window.URL.createObjectURL(stream);
		localMediaStream = stream;
	}, function(){alert("error")});
</script>
