<h1>There and Back Again</h1>
<h2>a mood tracking journal adventure</h2>

<p>
	<a href="/session/new">Enter</a> your personal journal.
</p>
<p>
	<a href="/users/new">Sign up</a> to start writing your adventure.
</p>
