<h1>There and Back Again</h1>
<h2>a mood tracking journal adventure</h2>

<p>
	<a href="/session/new">Enter</a> your personal journal.
</p>
<p>
	<a href="/users/new">Sign up</a> to start writing your adventure.
</p>

<video autoplay></video>
<img src="">
<script>
  var video = document.querySelector('video');
  var canvas = document.querySelector('canvas');
  var ctx = canvas.getContext('2d');
  var localMediaStream = null;

  function snapshot() {
    if (localMediaStream) {
      ctx.drawImage(video, 0, 0);
      // "image/webp" works in Chrome.
      // Other browsers will fall back to image/png.
      document.querySelector('img').src = canvas.toDataURL('image/webp');
    }
  }

  video.addEventListener('click', snapshot, false);

  // Not showing vendor prefixes or code that works cross-browser.
  navigator.getUserMedia({video: true}, function(stream) {
    video.src = window.URL.createObjectURL(stream);
    localMediaStream = stream;
  }, function(){alert("error")});
</script>
