<h2>There and Back Again</h2>
<% if logged_in? %>

	<h3>Hello <%= current_user.name %> </h3>
	<h3>Welcome to your mood tracking journal.</h3>
	<h3>Can't wait to hear about your adventure today!</h3>
<% if current_user.admin %>
	<p>
		<a href="">Admin</a> functions.
	</p>

<% end %>
<%= link_to "Home", root_path %>

	<ul>
		<p><%= link_to("Write", new_journal_entry_path) %> a Journal Entry</p>
		<p><%= link_to("View", journal_entries_path)%> your Journal Entries</p>
		<p>View your Mood History</p>
	</ul>

	<p>
	    <a href="/logout"> Logout</a>
	</p>

	

<% end %>