<h2>Hello <%= @current_user.name %> </h2>
<h2>Welcome to your journal.</h2>
<h3>Write a Journal Entry</h3>
<h3>View your Journal Entries</h3>
<h3>View your Mood History</h3>

<p>
    <a href="/logout"> Logout</a>
</p>